<div class="jumbotron">
  <h1>Music Wall <%= session[:user].user_name if session[:user] %></h1> 
</div>
<div class="error_message"><% if @message %>

  <% @message.errors.full_messages.each do |m| %>

   <span class="error_message">Please fix: <%= m %></span>

   <% end %>
   <% end %>
</div>

<div id="login_box">
  <% if session[:user] %>
    Logged IN as <%= session[:user].user_name%>
  <% else %>
    <form method="POST" action="/login_logout">
      <input type="text" name="user_name" placeholder="user name">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Login">

    </form>
  <% end %>
</div>

<div id="addSong">
  <form method="POST" action="/messages">
    <div>
      <label>Song Title:</label>
      <input type="text" name="title" value="<%= @message && @message.title %>">
    </div>
    <div>
      <label>Author:</label>
      <input type="text" name="author" value="<%= @message && @message.author %>">
    </div>
    <div>
      <label>URL:</label>
      <input type="text" name="url" value="<%= @message && @message.url %>">
    </div>
    <div>
      <input type="submit" value="Contribute">
    </div>
  </form>
</div>
<div id="messages_container">
  <!-- Here comes all messages -->
  <% if @messages %>
    <% @messages.each do |message| %>
      <div class="message">
        <p>
          <%= message.author %>
          <p class="message_title"><%= message.title %> <br></p>
          <a href="<%= message.url if message.url%>">Go to link!</a> <br>
          <span class="time"><%= message.created_at %></span>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
